<ion-footer>
  
<ion-toolbar color="warning">

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="warning">
      
      <ion-tab-button (click)="goPage('/spash/0/home')">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="goPage('/spash/0/profile')">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="goPage('/spash/0/panel')">
        <ion-icon name="people"></ion-icon>
        <ion-label>Panel</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-toolbar>

</ion-footer>