.app-logo-login{
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    padding: 0px;
    border: solid 4px red;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
