<ion-content padding class="app-background">
  
  <ion-img class="app-logo-login" src="assets/img/logo.png"></ion-img>
  
  <ion-grid class="app-input-group">
    <ion-row>
      <ion-col size="12">
        <ion-item-divider style="background: none;">
          <ion-label>
            N&uacute;mero de tel&eacute;fono
          </ion-label>
        </ion-item-divider>
        <ion-item lines="none" style="background: none;">
          <ion-thumbnail slot="start" class="app-input-thumbnail" (click)="selectCountries()">
            <img src="{{zoneSelect.flag}}">
          </ion-thumbnail>
          <p slot="start" class="app-input-code" (click)="selectCountries()">+{{zoneSelect.callingCodes[0]}}</p>
          <ion-input class="app-input-number" type="text" value=""></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" color="warning" fill="solid" class="app-input-button" no-border no-shadow>
          <ion-icon slot="icon-only" name="call"></ion-icon> VERIFICAR N&Uacute;MERO DE TEL&Eacute;FONO
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="app-text-botton">
    <ion-row>
      <ion-col size="12" class="ion-text-justify">
        <p >Al tocar verificar n&uacute;mero de tel&eacute;fono, se te enviar&aacute; un c&oacute;digo por SMS para que confirmes tu identidad.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
